*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
h1{
    text-align: center ;
    font-size: 70px;
    margin-bottom: 50px;
}
.qizil{
   width: 558px; 
   height: 452px;
   background-color: red;
   display: flex;
   justify-content: center;
   align-items: center;

}
.qizil h2{
    color: white;
    font-size: 40px;
}
.ota{
    display: flex;
    justify-content: space-around;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}